<div class="page-wrapper">
    <div class="header-wrapper">
        <div class="header">
            <div class="header-inner">
                <div class="header-top">
                    <div class="container">
                        <navigation></navigation>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="container">
                        <div class="header-bottom-label hidden-md-down">
                            I’M EVENTING FOR
                        </div>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Corporate</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Wedding</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">College</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Brand/Promotional</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Commercial</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Launch</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Artist Booking</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Others</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-wrapper">
        <div class="main">
            <router-outlet></router-outlet>
        </div>

    </div>

    <div class="footer-wrapper" style="margin-top:0%;">
        <div class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="widget right-border">
                                <h2 class="widgettitle">
                                    <img src="assets/img/logo-light.png" alt="Materialist">
                                </h2>

                                <p>
                                    Chennai Registered Office *NO: 3/8 2ND Mainroad Lenin Nagar Ambattur Chennnai
                                    600053* *99626 99929*
                                </p>
                            </div>

                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
                            <div class="widget right-border">
                                <h2 class="widgettitle">Social</h2>

                                <ul class="nav nav-stacked">
                                    <li class="nav-item">
                                        <a href="https://www.facebook.com/Quo-Now-397487927268478/ " class="nav-link">Facebook</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://twitter.com/QuoNowApp " class="nav-link">Twitter</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.linkedin.com/company-beta/13272915/" class="nav-link">LinkedIn</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://plus.google.com/u/0/111523144667483618098" class="nav-link">Google
                                            Plus</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
                            <div class="widget right-border">
                                <h2 class="widgettitle">Pages</h2>

                                <ul class="nav nav-stacked">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Submit Listing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
                            <div class="widget">
                                <h2 class="widgettitle">Admin</h2>
                                <ul class="nav nav-stacked">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-top">
                <div class="container">
                    <div class="footer-top-left">
                        <strong class="hidden-xs-down">Supported credit cards:</strong>
                        <i class="fa fa-cc-stripe"></i>
                    </div>
                    <div class="footer-top-right">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/aboutus']">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-left">
                    </div>
                    <div class="footer-bottom-right">
                        Copyright QuoNow &copy; 2017 - All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>