<div class="admin-stats">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 shadowBox">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 pull-left">Equipement Type</label>
                <div class=" col-md-10 pull-right">
                    <select class="form-control" (change)="BindEvents(product.EventTypeId)" [(ngModel)]="product.EventTypeId" #EventTypeId="ngModel">
                        <option *ngFor="let x of EventTypesList;let i=index;" value="{{x.Id}}">{{x.Type}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 pull-left">Equipement Name</label>
                <div class=" col-md-10 pull-right">
                    <select class="form-control" [(ngModel)]="product.EventId" #EventId="ngModel">
                    <option *ngFor="let y of EventsList;let i=index;" value="{{y.Id}}">{{y.Name}}</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 pull-left">Type</label>
                <div class=" col-md-10 pull-right">
                    <input class="form-control" type="text" [(ngModel)]="product.Type" #Type="ngModel">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 pull-left">Image</label>
                <div class=" col-md-10 pull-right">
                    <!-- <input style="line-height:0;" type="file" class="form-control" (change)="onChange($event)" [(ngModel)]="product.documents" #documents="ngModel"> -->
                    <input class="form-control" type="file" #filetype id="btnUpload" value="Upload" class="upload" />
                </div>
            </div>
            <div class="form-group row">
                <button class="btn btn-lg btn-primary pull-right" (click)="SaveProductType(product,filetype.files);">Save Event</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>